[2014-01-30 17:13] dsblank opened #14 "request: use runipy as a regression tester"
It would be very useful to be able to run notebooks and compare the output with the previous stored output and return values in the notebook. For example:

runipy --test MyOldNotebook.ipynb
Running tests...
.......F..F...
Two cells failed.
Cell 34 failed on output: expected: "Ok", actual: "Not ok"
Cell 56 failed on retval value: expected "23", actual: "23.01"

It seems that this functionality woul

[2014-02-28 14:33] paulgb opened #19 "Option to clean cell output without running anything"
To handle this use case:

https://twitter.com/pani5ue/status/439134376731762690

[2014-04-10 03:09] quasiben opened #26 "Test Fails"
Just ran the test on OSX/python2.7 and it fails with the following error:

[code]

[2014-04-10 03:11] quasiben opened #27 "Sphinx Error"
When using runipy with notebook_sphinxext I receive the following error:

[code]

[2014-06-11 15:02] mfitzp opened #34 "%load_ext pymatbridge doesn't block"
I've come across a rather strange error when trying to run notebooks containing %%matlab magic. This worked with the version of pymatbridge here: https://github.com/jaderberg/python-matlab-bridge

But the latest version here: https://github.com/arokem/python-matlab-bridge/tree/master/pymatbridge using a ZMQ-socket-based server is not so happy. Looking at the output it appears that the processing o

[2014-07-23 09:43] gabraganca opened #36 "Raise Empty"
Hi!

I am try use `runipy` on a institutional public server and I am getting this error:

[code]

After that it just get stuck. Do not quit. Just stay there.

The code block of  [ `notebook_runner`](https://github.com/paulgb/runipy/blob/master/runipy/notebook_runner.py) that throws an error is:

[code]

Since it is a public server with high load (~6), it could be that the `timeout=1` is simply not

[2014-08-28 01:30] hagino3000 opened #38 "How can I set --profile-dir argument for IPython?"
Now runipy seems use the profile on the ```~/.ipython/profile_default``` only.

[2014-09-05 16:52] JohnGriffiths opened #40 "environment variables option for programmatic use"
Hi.

Could you please add just a few lines to the README to explain how one would do the equivalent of the unix environment argument passing when reading in and running the notebook in pure python using NotebookRunnerr, etc.

Thanks!

[2014-09-11 16:35] git42 opened #41 "runipy hangs on --html option"
Runipy is writing the html file but does not exit.

How to reproduce:
- install CentOS release 6.5 (Final)
- build Python 2.7.8 from source
- pip install
Jinja2==2.7.3
MarkupSafe==0.23
Pygments==1.6
backports.ssl-match-hostname==3.4.0.2
certifi==14.05.14
ipython==2.2.0
psycopg2==2.5.4
pyzmq==14.3.1
runipy==0.1.1
tornado==4.0.2
wsgiref==0.1.2
- start ipython notebook
- create new notebook tom_hangs

[2014-11-06 17:47] helgridly opened #45 "runipy doesn't play well with python-markdown extension (understandably)"
I have the [python-markdown](https://github.com/ipython-contrib/IPython-notebook-extensions/wiki/python-markdown) extension installed, and therefore have Markdown cells whose output is defined by the execution of previous cells.

Currently, runipy only executes code cells and leaves Markdown cells as-is. I understand that extensions are written in Javascript, and pretending to be a browser is *pro

[2014-11-18 20:58] airhorns opened #46 "runipy doesn't execute ipython profile startup scripts"
We use startup scripts to set up a bunch of connections and configuration necessary for our notebooks to execute to keep the code in the notebooks simple. It would appear as though runipy just starts sending cells to a kernel without executing those startup scripts, which means notebooks break in all sorts of ways.

I am not super familiar with the IPython source code but I would guess this is bec

[2014-12-12 06:28] ngoldbaum opened #48 "runipy is broken in the current git master branch of IPython"
Apparently there have been some API changes inside of IPython that have broken runipy:

[code]

[2015-01-08 07:30] GaelVaroquaux opened #51 "%load magic doesn't seem to work"
It seems that runipy, doesn't run actually run an IPython notebook as the notebook itself runs it: if I have a "%load" directive in a notebook, and I run all the cells via the interactive menu, the "%load" magic loads the code in a new cell, and this cell is then executed. On the opposite, runipy seems to just skip the new cell.

[2015-01-25 04:08] paulgb commented on #41
Merged #47, thanks @tfrench

[2015-01-25 04:08] #41 closed

[2015-01-25 04:09] #38 closed

[2015-01-25 04:21] paulgb commented on #46
I don't use startup scripts, so I'm not sure if it's the same as the profile directory, but does #39 close this issue?

[2015-01-25 04:24] paulgb commented on #45
Thanks @helgridly. You're right in that full generalized extension support would require browser emulation and is outside the scope of runipy. I'm glad you found a solution that worked in your case.

[2015-01-25 04:24] #45 closed

[2015-01-25 04:27] paulgb commented on #48
I know this will not be a satisfying fix, but in the meantime I removed 3.x from the list of supported IPython versions. I am closing this for now and using #49 to track IPython 3 support.

[2015-01-25 04:27] #48 closed

[2015-01-25 04:34] paulgb commented on #34
I'm doing some housekeeping and closing this as I don't think it's a general problem with runipy. If you're still having issues let me know.

[2015-01-25 04:34] #34 closed

[2015-01-25 15:20] hagino3000 commented on #46
@paulgb Yes, I using startup scripts with #39 branch version.

[2015-01-25 16:15] #46 closed

[2015-03-03 16:09] justmytwospence opened #54 "New IPython 3 functionality"
Does the new nbconvert preprocessor do most of what this extension currently does? Specifically this part of the [What's New](http://ipython.org/ipython-doc/dev/whatsnew/version3.html)

New preprocessor for nbconvert that executes all the code cells in a notebook. To run a notebook and save its output in a new notebook:

[code]

[2015-03-10 13:18] gabraganca commented on #54
It seems so... I found more information [here](http://ipython.org/ipython-doc/3/notebook/nbconvert.html).

@justmytwospence, do you have any idea to run a notebook from inside Ipython or python?

[2015-03-10 16:41] justmytwospence commented on #54
I've been playing around with this, it doesn't seem to support passing environment variables properly, so it definitely does not subsume runipy's functionality.

[2015-03-10 19:51] carolineRefaat opened #55 "As I provider i should be able to create an event which is then added to their page"
FuckOFF!

[2015-03-10 20:25] paulgb commented on #55
I'm not sure what that means in the context of runipy, did you mean to open this issue on another project?

[2015-03-17 15:25] astrofrog opened #56 "IPython.nbformat.current deprecated in IPython 3"
I am currently getting the following deprecation warning with IPython 3:

[code]

The changes are actually quite significant - the notebook object returned by ``IPython.nbformat.read`` now no longer has a worksheets attribute.

[2015-03-20 16:57] #55 closed

[2015-03-26 20:16] zygmuntz opened #57 "Save code from a notebook to a Python file"
Is there an option to extract the code from a notebook, maybe save it to a file?

EDIT:
Never mind,
ipython nbconvert --to python &lt;notebook_file&gt;

http://stackoverflow.com/questions/17077494/how-do-i-convert-a-ipython-notebook-into-a-python-file-via-commandline

[2015-03-26 20:20] #57 closed

[2015-04-08 13:15] bjonen opened #58 "Problem running runipy <notebook> --html"
I get the following traceback running the above command with runipy 0.1.3:
[code]

[2015-04-10 15:02] desilinguist commented on #58
This sounds like a bug with iPython because the `nb` attribute for `nb_runner` does not have the `cells` attribute anymore. One needs to do `nb['worksheets'][0]['cells']` to get there.

For now, I got around it by first writing the notebook (`nb_runner.nb`) to a temporary output file and then using `exporter.from_filename` method to export to HTML. That does seem to work fine. Not a great solution

[2015-04-13 23:20] nitind commented on #54
@justmytwospence how so? os.environ seems to expose everything I'd expect.

[2015-04-13 23:36] justmytwospence commented on #54
@nitind Its working for me now too.

[2015-04-14 02:07] gabraganca commented on #56
@astrofrog I made a PR dealing with it.

And it seems that this functionality is built-in in ```nbconvert``` now.(see #54).

[2015-04-14 20:33] justmytwospence commented on #54
More info for those interested in the nbconvert method. The command flags seem to have been cleaned up a bit, you can now do things like:

[code]

One thing that tripped me up, the ExecutePreprocessor.timeout is set to 60 seconds, which means an exception is thrown if a cell takes longer than that to execute. This is pretty conservative for a preprocessor that is executing arbitrary code. You can

[2015-04-14 21:12] gabraganca commented on #54
:+1:

Now I only need to discover how to execute this from inside ipython. Maybe using ```os```...

[2015-04-18 17:33] rlabbe opened #60 "Exception if interactive widgets are used"
I have a notebook that includes IPython.html.widgets interactive widgets. When runipy reaches the cell that calls interact(), it raises

    NotImplementedError: unhandled iopub message: comm_open

[2015-04-25 21:58] sebnil commented on #58
I ran into the same problem. I wanted to do this:
runipy -o test_notebook.ipynb --html run_and_plot_bias.html

Which did not work. I solved it by running two commands after each other:
runipy -o ../test_notebook.ipynb
ipython nbconvert ../test_notebook.ipynb --to html

[2015-05-15 08:36] jolos commented on #60
I can confirm, I encounter the same error.

[2015-07-02 02:11] manuelRiel commented on #54
Also a great feature for integration testing. Keep a set of notebooks your users typically run and use `ExecutePreprocessor` to test them, when your own libs or setup changes.

[2015-07-16 15:31] odebeir opened #62 "Markdown() issue"
I am using Travis for continuous integration in combination with runipy, which is great !
Recently I tried to use Markdown() function in a cell, but it seems that this kind of output is not handled as valid

    Markdown('some MD text')

the stacktrace I obtained is below,

any idea how to enable Markdown with runipy ?

Thanks !

Olivier

07/16/2015 03:20:13 PM Cell returned
07/16/2015 03:20:13 PM

[2015-08-05 17:31] ACampbell22 commented on #58
Running the notebook and then converting it gives me a HTML file of the notebook as of it's last checkpoint. The cell output from the runipy execution is not included.

[2015-08-27 08:42] twiecki commented on #58
Just ran into the same issue. @sebnil's fix seems to work.

[2015-08-27 13:00] jakirkham commented on #60
Also seeing this error.

[2015-09-18 19:46] shaunpatel commented on #51
Running into the same issue - have you discovered a work around to this?

[2015-09-22 23:15] summerela opened #68 "Import user args from a config file"
Hi-

This is great! Is it possible to pass arguments from a config file instead of from the command line? I've been toying around with it and can't quite figure it out.

Thanks!

[2015-09-23 13:43] jakirkham commented on #68
How do you mean pass arguments via a config file instead of the command line? Are you referring to environment variables?

If so, I think the best course of action would be to have a cell in the notebook that reads a config file of your chosen format. You could add some default values in the same cell suppose a config file is not found, if you wish.

[2015-09-23 16:57] summerela commented on #68
Sounds like exactly what I need to do. Thank you!

On Wed, Sep 23, 2015 at 6:43 AM, jakirkham <notifications@github.com> wrote:

--
Thanks,
Summer Rae
summerrae78@gmail.com

[2015-09-23 20:33] jakirkham commented on #68
Thanks for you interest in `runipy`. I am going to go ahead and close this issue.

If you have any other questions, feel free to put them here if they are related and I'll reopen if you are unable or put them in a new issue if unrelated.

[2015-09-23 20:33] #68 closed

[2015-09-24 00:11] jakirkham commented on #40
So, are you just wanting see something like this.

[2015-09-24 00:13] jakirkham commented on #60
This is a dup of #32.

[2015-09-24 00:13] #60 closed

[2015-10-01 04:09] jakirkham commented on #26
@quasiben, could you please retry this on current master and see if this is still a problem?

[2015-10-01 19:08] jakirkham opened #77 "Installation does not happen smoothly for Jupyter (iPython 4)"
Post 3.x iPython has been split off into a variety of pieces, handling installation here is a bit problematic. There is not a clear way to handle this with `setuptools` ATM. ( https://bitbucket.org/pypa/setuptools/issues/434/handling-either-or-requirement ) However, this problem has showed up in other projects before. Likely, we can try to import iPython and see if it is < 4.0.0. If so, we can ass

[2015-10-01 19:14] jakirkham opened #78 "Deprecate iPython 2 and v3 notebook format"
I think it is time to deprecate iPython 2 support. Here are few reasons.

1. It is not going to see any more releases (including bug fixes) see comment here ( https://github.com/ipython/ipython/issues/8657#issuecomment-139008775 ).
2. Its last release is nearly two years old ( https://github.com/ipython/ipython/releases/tag/rel-2.4.1 ).
3. It uses the old v3 notebook format, which is beginning to

[2015-10-01 19:44] jakirkham commented on #56
This should be fixed in @gabraganca, #53. Closing.... If it's not, feel free to give a shout.

[2015-10-01 19:44] #56 closed

[2015-10-01 21:58] aaren commented on #78
If you use `nbformat.read(input_file, as_version=4)` then you can read in older notebook versions as version 4, with nbformat doing the conversion for you.

This is what I do in [notedown](https://github.com/aaren/notedown) - see usage [here][nbformat-ex].

[nbformat-ex]: https://github.com/aaren/notedown/blob/master/notedown/main.py#L253-L275

[2015-10-02 14:37] jakirkham commented on #62
Where is this `Markdown` function coming from? Is this from iPython or an external library?

[2015-10-02 16:02] odebeir commented on #62
it is from ipython.display module

[2015-10-16 17:11] #77 closed

[2015-10-16 17:19] jakirkham commented on #78
Thanks for that idea @aaren. I'll take a look into it.

[2015-10-16 18:17] jakirkham commented on #27
If someone has a simple example that would be really nice, I also have not used this extension and have no way to reproduce it at present.

[2015-10-16 19:15] jakirkham commented on #36
I have tried several strategies to reproduce this when simply installing the latest `ipython` from the 2.x series (2.4.1) and `runipy` (0.1.3) and was unable to do so.

If I had an older version of `ipython` and `runipy`, I found I could reliably reproduce this error. With certain version combinations, I was able to make the bug sporadic, but it would still show up about half of the time. All of t

[2015-10-16 19:16] #36 closed

[2015-10-16 19:20] jakirkham commented on #26
I believe I had fixed this in here ( https://github.com/paulgb/runipy/pull/65 ). As the CI is running along nicely and I can test it out on my Mac, I am assuming this is fixed. I will close this. If I am mistaken and there still is an issue, please feel free to ping me with some more details.

[2015-10-16 19:20] #26 closed

[2015-10-16 19:35] #40 closed

[2015-10-16 19:44] jakirkham commented on #58
Thanks for reporting this.

I was able to reproduce this from a simple test notebook. I agree that this is an issue when trying to support multiple formats, which makes me think about this ( https://github.com/paulgb/runipy/issues/78 ) again.

I will definitely need to think about how I would like to fix this.

[2015-10-16 19:48] jakirkham commented on #48
So, just to verify this appears to be fixed in iPython 3.x. This is further demonstrated by CI running tests with the current codebase successfully using iPython 3.x on its list of supported Python versions.

[2015-10-16 20:58] jakirkham commented on #62
This seems to be yet another good reason for iPython 2.x deprecation. ( https://github.com/paulgb/runipy/issues/78 ) Seems that markdown is not supported in iPython 2.x. ( https://github.com/ipython/ipython/issues/6242 )

[2015-10-17 06:33] odebeir commented on #62
Ok, I will use *html* instead of *markdown*
[code]
thanks for the help,

[2015-10-19 03:14] jakirkham opened #94 "IO Redirection during CLI test breaks logging (workaround in place)"
It turns out that swapping the `sys.stdout` and `sys.stderr` will break `logging` when testing the CLI. The reason for this is the streams are temporarily redirected to an `os.devnull` file handle. When the CLI testing is complete and testing of the notebook runner begins, this file handle is closed and the original values of `sys.stdout` and `sys.stderr` are set. However, some references still ex

[2015-10-19 03:17] jakirkham opened #95 "Resolve iPython 4.x `ShimWarning`"
Currently, we are relying on a deprecated API when working with iPython. Namely, we are using the iPython 3.x API. This results in several `ShimWarning`s being issued when importing these modules. It would be nice either to handle this so the proper iPython 4.x API can be used or, barring that, suppress the warning messages.

[2015-10-19 04:15] #95 closed

[2015-10-19 04:58] jakirkham commented on #62
In the interim, if HTML works that is great, I still plan on looking in how to get Markdown to work without breaking iPython 2.x support.

[2015-10-19 05:01] jakirkham commented on #94
This may or may not be helpful in solving or working around this problem. ( https://bitbucket.org/pytest-dev/pytest/commits/1c3eb86502b3 )

[2015-10-19 15:29] jakirkham opened #97 "Set environment variables via option"
Based off of an idea raised in this discussion ( https://github.com/paulgb/runipy/issues/3#issuecomment-26992544 ). Would be nice to allow some option, say `-D` that lets one set environment variables. This should work better with Windows.

[2015-10-23 07:43] michaelaye opened #98 "ImportWarning: sys.meta_path is empty"
When executing a runipy -v I get a weird looking print-out with an ImportWarning:
[code]
Environment: runipy master, installed from github, with `python setup.py install` into a python 3.4 conda environment.

[2015-10-23 07:45] jakirkham commented on #98
That is weird. Thanks for sharing. I'll take a look at it.

[2015-10-23 08:20] jakirkham commented on #98
Seems this only happens in Python 3.

[2015-10-23 08:27] jakirkham commented on #98
The `ImportWarning` appears to be due to a bug in Python 3.4.3. I can only reproduce it by installing the package with `python setup.py install` (can't reproduce by `pip` installation). This has been corrected in Python 3.5. See more details here. ( https://bugs.python.org/issue21049 )

[2015-10-23 08:28] jakirkham commented on #98
The `ResourceWarning` will require more looking into, but occurs with a variety of possible installs in Python 3.

[2015-10-23 08:38] michaelaye commented on #98
Confirmed that pip install on py34 does not show the ImportWarning, thanks.

[2015-10-23 08:42] jakirkham commented on #98
Glad that helps. I think the best that can be hoped for is that these warnings are suppressed entirely. I'll look into something to help this tomorrow.

[2015-10-23 23:52] michaelaye commented on #98
I agree with suppressing the /dev/null FH warning, would be cool to get that in.

[2015-10-27 15:26] jakirkham commented on #98
After doing a little investigation, I suspect this line ( https://github.com/ipython/ipython/blob/a33a0632c00b604683aab8454983716823550407/IPython/utils/io.py#L75 ) is causing us trouble. I don't have an obvious fix, at present.

[2015-10-27 15:37] jakirkham commented on #98
So, I have come up with a patch for `ipython`, which will fix the `ResourceWarning`. See here ( https://github.com/ipython/ipython/pull/8929 ). I have applied this patch myself and verified that it fixes the problem.

[2015-10-27 16:00] jakirkham commented on #98
I am going to close this as I feel I have done all I can to resolve this at present. Feel free to give the patch a shot if you wish ( https://github.com/ipython/ipython/pull/8929 ). I'll try my best to get it merged in mainline. I have also added a backport of that patch to the iPython 3.x line ( https://github.com/ipython/ipython/pull/8930 ). Bug fixes are no longer being accepted to iPython 2.x

[2015-10-27 16:00] #98 closed

[2015-10-27 17:35] jakirkham commented on #98
This aforementioned patch has been merged into iPython's 4.x. It should be available in the next release.

[2015-10-27 18:34] michaelaye commented on #98
Nice, thanks!

[2015-10-28 17:21] kbroughton commented on #58
I needed to run this from within python and prefer not to use subcommands.
Two code changes to notebook_runner.py fixed it for me:
Would you like a PR?

    def run_cell(self, cell):
        """Run a notebook cell and update the output of that cell in-place."""
        print("CELL: " + str(cell))
        if 'input' in cell:
            cell_source = cell.input
        else:
            cell_source

[2015-11-17 06:57] jakirkham commented on #58
So, I believe this PR ( https://github.com/paulgb/runipy/pull/101 ) will fix the problem of outputting an HTML file. I have included tests to verify this. I am going to go ahead and close this out. However, if anyone is still running into issues with this change, please let me know and we will try to figure something out.

[2015-11-17 06:57] #58 closed

[2015-11-17 07:08] jakirkham commented on #19
I also like this. I have tried using other tools like `jq` to solve this problem, which works and can be fun. However, using a python-only tool to solve this problem sounds very nice.

[2015-11-17 07:10] jakirkham commented on #14
Sounds kind of like [pytest-ipynb](https://pypi.python.org/pypi/pytest-ipynb). Would that work for you?

[2015-11-17 07:10] jakirkham commented on #14
@dsblank, sounds kind of like [pytest-ipynb](https://pypi.python.org/pypi/pytest-ipynb). Would that work for you?

[2015-11-17 17:44] mgeier opened #102 "v4 format doesn't work"
I'm not sure if it's supposed to work, but the title of #78 seems to suggest that.

* `NotebookRunner.iter_code_cells()` tries to access `worksheets`, which doesn't seem to exist anymore on v4

* `cell.input` seems to be `cell.source` in v4

After changing this, I was able to successfully `run_notebook()`, but the resulting notebook caused an error when loading it in IPython:

[code]

I changed `c

[2015-11-17 18:42] jakirkham commented on #102
So, the referenced issue is simply noting how this backwards compatibility with older notebooks/iPython versions is making things a bit messy and hard to deal with. The suggestion is that as it is too much of pain to support the old versions while trying to add support for the new ones that we instead should simply make breaking changes and start supporting only the new ones. In short, that suppor

[2015-11-30 20:06] shuvrobiswas opened #104 "View cell ouputs"
When I run an IPython notebook, I see

12/01/2015 12:34:51 AM INFO: Cell returned
12/01/2015 12:34:51 AM INFO: Running cell
...

as output, but anything printed out or produced by cells do not show up in command line. Is this the default behavior? Is there a way to see what is happening in the output cells of an IPython notebook?

[2015-12-01 01:38] jakirkham commented on #104
TL;DR -- This is the current behavior, yes.

Workaround -- A resultant notebook can be written out to a file or stream. Note this will not appear as nice on the stream.

Long Answer -- It would be nice to fix this. The original issue is here ( https://github.com/paulgb/runipy/issues/9 ). This likely requires some more significant changes in the internals, which has not been approached yet. I don't

[2015-12-01 01:39] jakirkham commented on #104
Closing as duplicate. Please direct further discussion here ( https://github.com/paulgb/runipy/issues/9 ).

[2015-12-01 01:39] #104 closed

[2016-01-05 19:00] jakirkham commented on #98
Also, the 3.x patch was accepted and appears in the release 3.2.3. There is no release for the 4.x fit at present.

[2016-01-06 05:38] akshaykandul opened #106 "Qgrid table is displayed when using runipy to execute a notebook (ipynb)"
I am using runipy to run a ipython notebook and save the notebook output as a new notebook. Qgrid is working properly when running notebook on jupyterhub, but doesn't work when using runipy. Code is executed properly, only qgrid is not displayed.

[2016-01-06 06:05] jakirkham commented on #106
Can you share a simple example?

[2016-01-06 06:41] akshaykandul commented on #106
@jakirkham please check following links
1) [runned_on_jupyterhub.ipynb](http://nbviewer.ipython.org/gist/akshaykandul/2112e2251c2d92b1a968)
2) [runned_using_runipy.ipynb](http://nbviewer.ipython.org/gist/akshaykandul/e7dc2350ad7c82a17579)

Thanks in advance

[2016-01-06 18:29] jakirkham commented on #106
Thanks for sharing @akshaykandul. I am thinking this may be related to this issue ( https://github.com/paulgb/runipy/issues/32 ).

[2016-01-11 02:01] yuvipanda commented on #19
This is present in nbconvert, no?

[2016-01-11 21:40] jakirkham opened #110 "Add a check for notebooks running via runipy"
The goal of `runipy` is to batch notebook(s) and so is clearly decoupled from interactivity. However, there is a strong desire to have interactive components in notebooks.

Initial independent attempts of my own included monkey patch mocked out portions of interactive components in my own use of `runipy`. However, these are many and varied and it is simply not reasonable to hope to get all of thes

[2016-01-11 21:46] jakirkham commented on #27
@ngoldbaum, are using this same tool, as well? If so, are you still having issues with it?

[2016-01-11 21:47] ngoldbaum commented on #27
No. In any case, the issue should probably be filed against my RunNotebook repo rather than this one. I'd say this is safe to close.

[2016-01-11 21:51] jakirkham commented on #27
Ok, sounds good. Thanks @ngoldbaum.

[2016-01-11 21:51] #27 closed

[2016-01-11 22:02] jakirkham commented on #106
Interactivity is a pretty tricky question with `runipy` as it is a batch processing tool.

Some interactive elements that require immediate user feedback (i.e. blocking elements) will never be supported directly. There are some interactive elements that are non-blocking. I believe this latter set can be supported, but will require some work to truly solve and may require some deprecations to do so

[2016-01-11 22:16] jakirkham commented on #14
At present, I think `pytest-ipynb` already does this quite nicely and am not interested in trying to duplicate it.

[2016-01-11 22:16] #14 closed

[2016-01-11 22:45] dsblank commented on #14
Thanks! Will take a look.

[2016-02-10 17:53] tuanvu216 opened #113 "runipy as a background process"
Hi,

Is there a way I can run ```nohup runipy &``` as a background process?

Thanks,
Tuan

[2016-02-21 01:06] jakirkham commented on #113
Sure, there shouldn't be any problem running it as a background process. Are you running into issues doing so?

[2016-02-21 03:59] tuanvu216 commented on #113
Sorry, I figure it out. I will close this issue.

[2016-02-21 03:59] #113 closed

[2016-02-21 04:03] jakirkham commented on #113
Ok, well, if you run into issues again, feel free to let me know.

[2016-02-25 16:15] rlabbe opened #115 "%matplotlib notebook causes exception"
Perhaps this isn't so easy to support, but `%matplotlib notebook` allows for interactive plots. I have a small notebook that raises

    NotImplementedError: unhandled iopub message: comm_open

if I have that statement in the first cell of my notebook. If I change it to `%notebook inline` I do not get the exception.

command line is

    runipy -o gibbs-sampling.ipynb

Environment: Windows 10 64-g

[2016-02-25 17:22] jakirkham commented on #115
Yeah, this is another case of this issue ( https://github.com/paulgb/runipy/issues/32 ). Namely, interactive widgets are not supported. I was thinking of a solution like this ( https://github.com/paulgb/runipy/issues/110 ). So, these steps could be ignored as needed.

I think a real fix would require a rewrite of `runipy`. This rewrite may not be compatible with iPython 2.x so would require a majo

[2016-04-21 18:34] tuanvu216 opened #117 "notebook is not trusted"
After running the notebook and saving the output to another notebook.
[code]

I cannot load the output notebook because of this error while the notebook is trying to load:
[code]

Error
[code]

[2016-04-29 05:34] jakirkham commented on #117
So, you can mark the notebook as [trusted]( https://ipython.org/ipython-doc/3/notebook/security.html#explicit-trust ). The trick is there is JS code in there and it is a new notebook so it is probably going to start out untrusted no matter what. Though I can try and see if we can do anything here. I think the aforementioned strategy is the way to go.

[2016-04-29 05:36] jakirkham commented on #117
In Jupyter, use `jupyter trust ...` instead as explained in the [docs]( https://jupyter-notebook.readthedocs.io/en/latest/notebook.html?highlight=trust#signing-notebooks ).

[2016-04-29 05:37] tuanvu216 commented on #117
Hi @jakirkham,

I have marked the notebook as trusted. But still cannot load the notebook, and the error message just keeps popping up

Error
[code]

Thanks,
Tuan

[2016-04-29 05:38] jakirkham commented on #117
Could you share both notebooks in a gist?

[2016-04-29 15:28] tuanvu216 commented on #117
Hi @jakirkham,

These are the input and output notebooks: https://gist.github.com/tuanvu216/8ae15f26a46c35c3b6cefbbe5f20fd82

Thanks,
Tuan

[2016-05-03 01:42] schmittlema opened #118 "no stop command"
Hi,
This is a great program and I am excited to use it, but I couldn't find any documentation on stoping a program from running. Ctl -C did not seem to work. My program is intended to run forever until stopped then it generates a graph of the result, so I was hoping there was a stop command I just missed.

Thanks!

[2016-05-03 21:45] adam-paul opened #119 "HTML snapshot raises attribute error"
Thanks for this great python package! I am wondering if I could get any insight into an error that I can't make my way around when attempting to generate HTML reports with runipy.

The simplest case occurs with a basic test run with the html option as specified in the README:

`runipy test.ipynb --html report.html`

The notebook executes fine, but upon generating the snapshot:

[code]

Any idea wh

[2016-05-03 21:47] jakirkham commented on #119
Looks like you are using `conda`. Could you please run `conda list` and add that here?

[2016-05-03 21:54] adam-paul commented on #119
Sure! Here is the result:

[code]

[2016-05-04 18:31] AlJohri commented on #115
just wanted to drop a note that I just encountered this as well trying to automatically update a notebook with bokeh visualizations

[code]

[2016-05-11 15:47] Juanlu001 commented on #115
I also run into this while using Bokeh.

[2016-05-20 02:22] willwhitney commented on #119
I'm having the same problem using Python 3.5.1.

[2016-05-28 17:37] felciano commented on #119
I'm seeing this as well. Any suggestions?

[2016-06-21 22:40] jakirkham commented on #119
Sorry, I have not had time to look at late. It seems like something has changed in one of our dependencies and we need to adjust accordingly.

[2016-06-21 22:41] jakirkham commented on #118
Thanks for the suggestion. So, the idea of `runipy` is to be run in batch. However, it seems like you are looking for an interactive feature. Is there a reason not to be using a Jupyter notebook to do this?

[2016-06-21 22:43] jakirkham commented on #115
With Bokeh, my solution is to try and save HTML instead, @Juanlu001. Would that work for you?

[2016-06-21 22:45] jakirkham commented on #115
As long as we are supporting IPython 2.x, these features are challenging to support. I've looked at trying to get support without that deprecation, but it is a lot of work that I don't really have time for. If deprecation of IPython 2.x is something that people would be ok with, please give me feedback in this issue ( https://github.com/paulgb/runipy/issues/78 ).

[2016-06-21 22:49] jakirkham commented on #78
The more I think about it. The more I am ok with going forward with this deprecation. More frequently I am bombarded with a long list of features that users would like to have that are just very painful if not impossible to support with IPython 2.x. I think it is time for us to acknowledge this break needs to happen.

[2016-06-22 07:02] Juanlu001 commented on #115
We already have some workarounds in place for Bokeh @jakirkham, but I agree that supporting IPython 2.x is a barrier for this and other features. I will follow the conversation on #78.

[2016-06-22 07:42] Juanlu001 commented on #78
When I first thought about this IPython 2.x felt quite old, but for my surprise 2.4 was relased in January last year. Maybe the IPython developers have some usage statistics or can shed some light on this topic. @Carreau, do you think it's safe to drop support for IPython 2.x nowadays?

[2016-06-22 16:31] Carreau commented on #78
2.4 yes, but 2.0 was released in April 2014, so more than 2 years ago.
2.x late series was just an **exceptional** backport of nbformat so that 2.4 can read notebooks v4 and allow people to read newer notebook it was likely release a few hours before 3.0.
Now this is irrelevant at nbformat is its own package and can be upgraded  independently.

Unfortunately we don't have that much statistics, but

[2016-06-26 04:33] rbiswas4 opened #120 "Running ipython notebooks with errors"
I am trying to use runipy to run through a number of ipython notebooks, mostly to check that they continue to work without errors with the latest codebase. However, in these notebooks, sometimes, I demonstrate known failure modes of the code base. Is there a way to flag such errors and move on say by adding a magic method or decorator similar in spirit to skipping tests?

This would be a better wa

[2016-07-05 02:12] faudi commented on #119
try using
`runipyx.ipynb
jupyter nbconvert x.ipynb --to html`

[2016-08-08 19:49] jakirkham opened #122 "Dropping Python 3.3 support"
Currently the CI builds are failing on Python 3.3. While we could spend some time to get them working again, I'm questioning the value of supporting Python 3.3 at this point. We do still support Python 3.4. Though honestly am considering dropping that as well as soon as Python 3.6 comes out. Do people still use Python 3.3? Does this affect anyone? Feedback welcome.

[2016-08-08 19:50] jakirkham commented on #120
There is no method that I'm aware of like this. It sounds like an interesting idea though. Would you be interested in coming up with a PR?

[2016-08-08 19:57] jakirkham opened #123 "CI failures with pip"
Appears the CI builds that use `pip` are failing. Need to get these fixed up and working again.

[2016-08-08 20:00] jakirkham commented on #123
This issue ( https://github.com/jupyter/jupyter/issues/150 ) appears related. AFAICT we have the most recent `pip` in CI and are using it to install everything. So not really sure what the issue is.

[2016-08-08 20:15] jakirkham commented on #123
Honestly am having a fair bit of trouble trying to reproduce this locally. Not sure what is up with the CI.

[2016-08-08 20:31] jakirkham commented on #123
Seems the workaround of installing `entrypoints` first works for us too.

[2016-08-08 20:35] jakirkham commented on #123
Running into a new issue where `backports.shutil_get_terminal_size` does not seem to be getting installed. Looks like upstream issue ( https://github.com/ipython/ipython/issues/9656 ) is related. Going to try installing this in advance as well.

[2016-08-08 20:46] jakirkham commented on #123
Looks like installing `backports.shutil_get_terminal_size` beforehand works around the issue. Should have everything up and running again soon.

[2016-08-08 20:51] #123 closed

[2016-08-08 20:53] jakirkham commented on #122
The CI builds on Python 3.3 have been fixed. That being said, it is worth asking at some point how much effort we want to spend on Python 3.3 issues.

[2016-09-08 04:40] xiaohan2012 opened #128 "Spark support"
How to run notebooks with Spark jobs in it?

[2016-09-10 17:43] hsiaoyi0504 commented on #119
The method @faudi mentioned works for me.

[2016-09-13 19:50] krautt commented on #128
maybe more specifically, how to run pyspark jobs with the   PYSPARK_DRIVER_PYTHON_OPTS="notebook" flag set.

[2016-09-20 18:33] jakirkham commented on #128
Not sure. I don't really use Spark/PySpark. How do you run these normally with the notebook?

[2016-09-20 18:47] jakirkham commented on #78
Thoughts on this @zonca?

[2016-09-20 19:22] zonca commented on #78
I think it is reasonable to drop IPython 2.x support

[2016-09-20 21:26] Carreau commented on #78
Note, I think PyPI have download data available on BigQuery so we should be able to get an idea of how many download / month thereis of each version of IPython.

[2016-09-20 21:40] Carreau commented on #78
Which I just did:

[code]

https://bigquery.cloud.google.com/results/iron-wave-88322:bquijob_6dc56858_15749835aec

Here is the result:
[code]

[2016-09-21 07:47] maurodoglio commented on #128
Starting it [this way](https://github.com/mozilla/emr-bootstrap-spark/blob/master/ansible/files/telemetry.sh#L159) seems to be the most standard way to do it. We used to use ipython profiles in the past but that stopped working with Spark 2.0. [Here](https://github.com/mozilla/emr-bootstrap-spark/blob/3c4624f759ccaea0c33a2e1ee6f70fa5b3cf1714/ansible/files/telemetry.sh#L127-L129) is what we used to

[2016-09-21 20:13] jakirkham commented on #78
Wow! I'm a little surprised to see that much usage of even old versions like `0.x` and `1.x.`. Also a bit surprised to see that `2.x` and `3.x` are comparable.

That all being said, I think the numbers speak for themselves there is around an order of magnitude more people on iPython 5.x and 4.x is still alive and well. For a small project like this, I think we are well justified in doing exactly a

[2016-09-21 20:23] krautt commented on #128
Thanks! that did indeed work.  this is great.

[2016-09-21 20:27] Carreau commented on #78
My guess is IPython 2.x is for Python 2.6 We can refine the query to know.

You can make the same query for runipy to know how many users are using Python 2.6.

[2016-09-21 20:28] Carreau commented on #78
Notes; I'm working on https://github.com/Carreau/warn to make deprecation easier.
Still hackish though. Feedback would be welcome.

[2016-09-21 20:51] jakirkham commented on #78
Ah, I see.

We don't actually support Python 2.6. Though it may work there. We just don't test against it.

[2017-01-18 16:36] Naereen opened #133 "How to write the output back to the notebook and the stdout?"
Hi,
I am trying to write the output of every cell back to the input notebook, *and* print it to stdout (for interactive debugging or overview of the running computations).
Apparently, there is no way to do both.

Any idea of how to do that with a tricky set of cli options? Or to implement it and add it to runipy?
It could be the option `--log` or something like this.

[2017-01-18 16:38] Naereen commented on #133
Oh, in fact there is no option to print the output of every cell, the default mode print the input of each cell.

Could it be possible to add a way to see in the terminal, while running, the (textual) output of every cell?

[2017-01-21 02:29] #19 closed

[2017-01-21 02:38] paulgb commented on #118
Ctrl+C will stop the execution of the entire notebook, not just the current cell. For this use case I don't think runipy is the right tool.

[2017-01-21 02:38] #118 closed

[2017-01-21 02:44] paulgb commented on #122
My general thinking is that by default we should try to be compatible with the versions supported by Jupyter (and adjust from there if compatibility is too difficult). Currently they support 3.3.

[2017-01-21 02:45] #128 closed

[2017-01-21 05:17] krautt commented on #128
FWIW,  I found the easiest way to run a notebook in spark is to use jupyter nbconvert to convert it to a .py and run that as an argument to spark-submit.  you can wrap it and delete the .py afterward if you want to clean up.  Otherwise you can't seem to pass Spark the args needed to get it to run on a yarn cluster.

[2017-02-07 16:29] olgabot opened #135 "Wrong Python used with runipy command"
Thank you for creating this package! It's very useful for me to submit Jupyter notebooks to the supercomputing cluster and get the output later. I'm having trouble running a notebook and it seems even if I specify the full path to the `runipy` function with (`~/anaconda/bin/runipy`) and prepend my `$PYTHONPATH` variable, it uses a different Python! [Here](https://gist.github.com/olgabot/874b6bae49

[2017-02-25 07:05] Netherdrake opened #136 "Issues with Docker"
I'm running into an issue when attempting to run a notebook via runipy in docker.

It works fine if I:
[code]

But if I just try to do:
[code]

I get:

[code]

My Dockerfile command:
[code]

Source code:
https://github.com/SteemData/steemdata-charts

Does anyone have this issue? Any hacks for a workaround?

[2017-03-26 13:49] chrisburr commented on #135
I think this is caused by using `pip install runipy` in two different conda environments. I quickly worked around the problem by calling `pip uninstall runipy` from each environment I had and then using `conda install -c conda-forge runipy` in the one I wanted to run notebooks using.

[2017-04-18 10:30] Netherdrake opened #137 "Runipy crashes on plot.ly chart cells"
[code]

[2017-06-16 11:42] timnon commented on #137
similar problem:

06/16/2017 11:37:13 AM INFO: Cell returned
Traceback (most recent call last):
  File "/opt/conda/lib/python3.6/site-packages/runipy/notebook_runner.py", line 192, in run_cell
    attr = self.MIME_MAP[mime]
KeyError: 'application/vnd.plotly.v1+json'

[2017-07-25 14:58] ZelphirKaltstahl commented on #117
This issue might occur, if you are using JupyterHub and Dockerspawner and have the notebooks in a volume, which is mounted to the Docker containers. In such case one might need to remove the corresponding volume as well.